*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!sqlite-jdbc-3.14.2.jar
*.war
*.ear

# IntelliJ Files
*.iml

# IntelliJ Folders
.idea/
out/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
